$flex-grid--column-margin: 4%;

.popUpDetailModal {
  &__soldOut {
    position: absolute;
    left: $modal-padding;
    margin-top: 1rem;
    margin-left: 1rem;
  }

  .counter {
    white-space: nowrap;
  }

  .flex-grid {
    @include grid-system-all();
  }

  .countSelecter {
    display: flex;
    justify-content: space-between;
    margin-bottom: space(1);
  }

  .roomType__optionalItem {
    padding: space(2) 0 !important;
    border-bottom: 1px solid $grey-level1;
  }

  .roomType__options {
    margin-bottom: space(2);
  }

  .roomType__optionalItem {
    flex-wrap: wrap;
  }

  .counter__inner .JDbtn {
    margin-bottom: 0 !important;
  }
}