@import "../variables.scss";

.dateSelecter {
  padding: $standard-small-space;
  border: $standard-small-space solid $grey-level2;
  margin-bottom: $standard-largest-space;
  &__inner {
    padding: $standard-small-space;
  }
}
