// 이부분 라이브러리로 ㄱ
.radioBox__inner {
    display: flex !important;
    width: 100%;
    flex-wrap: wrap !important;
    width: 100% !important;
}

#root {
    .JDslider {
        margin-right: 0 !important;
    }

    .roomType__wrap .roomType__slider div {
        height: 100%;
    }
}

.iconWrapper.JDmodal__closeIcon {
    position: absolute;
}

.ReactModal__Content {
    min-height: 500px;
}

.ReactModal__Overlay {
    z-index: 99999999 !important;
}

.selectViewer--static {
    position: relative !important;
}