.sub-contens * {
    line-height: 1.5rem;
}

.company-name {
    margin-bottom: 1rem;
}

.tb_st__01 {
    border-top: 2px solid $html-color;
    width: 100%;
    text-align: center;
}


.tb_st__01 th {
    background-color: $grey-level1;
}