$cardHeight: 11rem;

.roomType {
  margin-bottom: $standard-small-space;
  border-radius: $standard-border-radius;
  // @extend %z-depth-half;
  overflow: hidden;

  &__countSelectWrap {
    background-color: $grey-level1;
    border: 1px #e2e2e2 solid;
    box-sizing: border-box;
  }

  &__optionTitle {
    padding: space(2);
  }

  &__countMainWrap {
    padding: $standard-space;
    border-bottom: 1px solid $grey-level2;
  }

  &__optionalItems {
    padding: space(2);
    background-color: #fff;
  }

  &__optionalItem {
    border-top: 1px dashed $grey-level2;
    padding: space(2.5) space(2) space(2.5) space(2);
  }

  &__soldOut {
    position: absolute;
    left: space(0.5);
    top: space(1);
    @extend %z-depth-3;
  }

  &__inner {
    border: 1px solid $grey-level2;
  }

  &__slider {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__right {
    padding: $standard-space;
  }

  &__wrap {
    min-height: $cardHeight;
    line-height: 1 !important;
  }

  &--loadingCard {
    width: 100%;
    background-color: $grey-level1;
  }

  &--selected {
    .roomType__wrap {
      height: auto;
      margin-bottom: 0;
      background-color: $primary-color;
      color: white;

      .JDbtn__contents {
        color: $html-color;
      }
    }
  }

  &__slider {
    overflow: hidden;
    height: 100%;
  }

  &__counter {

    padding: $standard-space;
    background-color: $grey-level2;

  }
}