
.roomType {
	margin-bottom: $standard-small-space;
	border-radius: $standard-border-radius;
	border: 1px solid $grey-level2;
	overflow: hidden;

	&__slider {
		max-width: 15.25rem;
		@include response($phablet) {
			max-width: 10rem;
		}
	}

	&__right {
		padding: $standard-space;
	}

	&__wrap {
		height: 6rem;
	}

	&--loadingCard {
		height: 6.5625rem;
		width: 100%;
		background-color: $grey-level1;
	}

	&--selected {
		.roomType__wrap {
			height: auto;
			margin-bottom: 0;
			background-color: $primary-color;
			color: white;
			.JDbtn__contents {
				color: $html-color;
			}
		}
	}

	&__slider {
		height: 100%;
	}

	&__counter {
		padding: $standard-space;
		background-color: $grey-level2;
	}
}
