html {
	position: relative;
}

.selectViewer {
	position: sticky;
	top: space(2);
	overflow: hidden;
	font-size: $typho-small;
	color: $grey-level4;
	border-radius: $standard-border-radius;

	@include response($phablet) {
		position: fixed;
		bottom: 0;
		transform: translate3d(0, 0, 0);
		z-index: $z-index-9;
		background-color: white;
		left: 0;
		right: 0;
		top: unset;
		width: 100%;
		-webkit-overflow-scrolling: touch;
	}

	&--close {
		.selectViewer__body {
			height: 0px !important;
			overflow: hidden;
		}
	}

	&__body {
		overflow: auto;
		max-height: 23rem;
	}

	&__head {
		padding: space(1) space(2) !important;
		background-color: $primary-color;
		color: white;
	}

	&__header {
		background-color: $grey-level1;
	}

	border: 1px solid $grey-level2;

	&__calculaterBody {
		border-bottom: 1px solid $grey-level2;
	}

	&__calculaterTotal {
		padding: $standard-space 0px;
	}

	&__headerCell {
		border-bottom: 1px solid $grey-level2;
		padding-bottom: $standard-small-space;
		margin-bottom: space(1);

		&:last-child {
			border-bottom: none;
			padding-bottom: 0;
			margin-bottom: 0;
		}
	}

	&__header,
	&__bottom,
	&__calculater,
	&__title {
		padding: $standard-space;
	}
}