$primary-color: #8b8378;
$html-color: #333;
$grey-level1: #f5f5f5;
$grey-level2: #dbdbdb;
$grey-level3: #999999;
$flex-grid--column-margin: 8%;
$standard-border-radius: 5px;
@import "../../jd-library/build/scss/style_config.scss";
