html:root {
  --primary-color: #003680;
  --primary-color-light: #0d78b8;
  --primary-color-dark: #002167;
  --primary-color-on: #fff;
}

.themeProvider {
  --primary-color: #003680;
  --primary-color-light: #0d78b8;
  --primary-color-dark: #002167;
}

// 이부분 라이브러리로 ㄱ
.radioBox__inner {
  display: flex !important;
  width: 100%;
  flex-wrap: wrap !important;
  width: 100% !important;
}

#root {
  .JDslider {
    margin-right: 0 !important;
  }
}

@import "./variables.scss";
@import "~@janda-com/front/build/scss/all.scss";
@import "./component/AgreeBlock.scss";
@import "./component/BookerForm.scss";
@import "./component/CountSelecter.scss";
@import "./component/DateSelecter.scss";
@import "./component/PayForm.scss";
@import "./component/PrevSelectViewer.scss";
@import "./component/RoomType.scss";
@import "./component/SelectViewer.scss";
@import "./component/CheckBox.scss";
@import "./component/AgreePolicy.scss";

@import "./page/Reservation.scss";
@import "./page/ReservationFind.scss";
@import "./page/popUpDetailModal.scss";