
$background-color: white;
$html-color: #333;
$grey-level1: #f5f5f5;
$grey-level2: #dbdbdb;
$grey-level3: #999999;
$flex-grid--column-margin: 8%;
$standard-border-radius: 5px;
// @import "../node_modules/@janda-com/front/build/scss/style_config.scss";
@import "../../node_modules/@janda-com/front/build/scss/style_config.scss";